 <!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link href="../polymer/polymer.html" rel="import">
<link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">


<polymer-element name="grapp-fa-icon" attributes="icon spin size inverse">

  <template>

    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <i class="{{computeClass(icon, spin, size, inverse)}}"></i>

  </template>

  <!-- build:script inline dist -->
  <script src="grapp-fa-icon.js"></script>
  <!-- /build -->

</polymer-element>


<polymer-element name="grapp-fa-stack" attributes="size" noscript>

  <template>
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <span class="fa-stack {{size ? 'fa-' + size : ''}}">
      <content select="grapp-fa-icon"></content>
    </span>
  </template>

</polymer-element>
