<!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link href="../lib/polymer/polymer.html" rel="import">
<link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

<dom-module id="grapp-fa-icon">

  <template>
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <i class$="[[_computeClass(icon, spin, size, inverse)]]"></i>
  </template>

  <!-- build:script inline dist_fa -->
  <script src="grapp-fa-icon.js"></script>
  <!-- /build -->

</dom-module>

<dom-module id="grapp-fa-stack">

  <template>
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <span class$="[[_computeClass(size)]]">
      <content select="grapp-fa-icon"></content>
    </span>
  </template>

  <!-- build:script inline dist_fa_stack -->
  <script src="grapp-fa-icon.js"></script>
  <!-- /build -->

</dom-module>
