<!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link rel="import" href="../lib/polymer/polymer.html">

<dom-module id="grapp-fa-icon">

  <link rel="import" type="css" href="../lib/font-awesome/css/font-awesome.min.css">

  <template>
    <i class$="[[_computeClass(icon, spin, size, inverse)]]"></i>
  </template>

  <!-- build:script inline grapp-fa-icon -->
  <script src="grapp-fa-icon.js"></script>
  <!-- /build -->

</dom-module>

<dom-module id="grapp-fa-stack">

  <link rel="import" type="css" href="../lib/font-awesome/css/font-awesome.min.css">

  <template>
    <span class$="[[_computeClass(size)]]">
      <content select="grapp-fa-icon"></content>
    </span>
  </template>

  <!-- build:script inline grapp-fa-stack -->
  <script src="grapp-fa-stack.js"></script>
  <!-- /build -->

</dom-module>
